.page-header {
    color: #fff;
    text-align: center;
    background-color: #159957;
    background-image: linear-gradient(120deg, #155799, #159957);
    padding: 60px 50px;
}

.project-name {
    font-size: 2.25em
}

.project-tagline {
    margin-bottom: 2rem;
    font-weight: normal;
    opacity: 0.7;
}

.available-chanels {
    list-style: none;
    padding: 20px 20px;
    margin: 0 auto;
    text-align: center;
}

.available-chanels li {
    display: inline-block;
    margin: 0 20px;
}

.available-chanels li img {
    width: 70px;
    height: 70px;
}

.container h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 15px;
}

.intro .info {
    font-size: 1.125em;
    text-align: center;
    max-width: 600px;
    margin: 0 auto
}

/* Como funciona */

.como-funciona {
    margin: 0px auto;
}

.como-funciona-item {
    margin-bottom: 40px;
}

.como-funciona-item h2 {
    font-size: 2.25em;
    margin-bottom: 15px;
}

.como-funciona-item p {
    font-size: 1.125em;
    line-height: 1.4em;
    max-width: 320px;
    margin-bottom: 40px;
}

.como-funciona-img, .locas-info {
    flex: 1;
    margin: 0 10px;
}

.como-funciona-item.rastreie .como-funciona-img {
    order: 1
}

@media (max-width: 739px) {
    .como-funciona-item.rastreie .como-funciona-img {
        order: 0
    }

    .available-chanels li img {
		width: 50px;
		height: 50px;
	}
}